.DS_Store
Thumbs.db

# Node/JS (falls zukünftig genutzt)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build/Cache
dist/
build/
.cache/
.parcel-cache/

# Env
.env
.env.*

# Misc
.vercel/
.netlify/
.DS_Store?
*.local
*.log


